<h3>Este es el carrito</h3>
<p id="cid">{{cart}}</p>

<div>
  <h2>Lista de productos</h2>
<p>{{products}}</p>
  <table>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>CODE</th>
      <th>STATUS</th>
      <th>CATEGORY</th>
      <th>STOCK</th>
      <th>THUMBNAILS</th>
    </tr>
    <tbody>
      {{#each products.docs}}
        <tr>
          <td >{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.code}}</td>
          <td>{{this.status}}</td>
          <td>{{this.category}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.thumbnails}}</td>

          <td><button
                id="agregarItem"
                type="button"
                class="btn btn-secondary"
              ><i class="bi bi-cart-plus"></i></button></td>
        </tr>
      {{/each}}
      <tr>Total: {{amount}}</tr>
    </tbody>
  </table>
  <br />


<button id="comprar">Finalizar compra</button>
<a href="/users/products"><button>Volver al inicio</button></a>
<button id="borrar">Vaciar carrito</button>

<script src="/js/cart.js"></script>