<div>
  <h3>Bienvenido {{user}}</h3>
  <p><b>Rol:</b> {{role}}</p>
<h4>Esta es la información de usuario:</h4>
  <p>Edad: {{age}}</p>
  <p>Email: {{email}}</p>
  <p>Cart: {{cart}}</p>
  
<a href="/premium/products"><button>Editar mis productos</button></a>

<a href="/users/cart/{{cart}}"><button> Ver mi carrito </button></a>

<button  id="botonLogout" type="submit">LOGOUT</button>

<p id="userID">{{id}}</p>
<div>
{{!-- <p>Para activar suscripción premium, por favor suba los siguientes archivos:</p>
<form id="premiumForm">
  <input type="file" id="premiumReq" name="premiumReq">
   <button type="submit">Enviar</button>
</form> --}}
   <button id="switch"> Activar / Quitar suscripción premium </button>
</div>

</div>

<script src="/js/profile.js"></script>